<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gtanetwork.api" version="0.1.385.714" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net461" />
  <package id="NodaTime" version="2.0.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="types-gtanetwork" version="0.1.12" targetFramework="net461" />
</packages>