<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mtgvrp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.9.0" newVersion="6.7.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <mtgvrp.Properties.Settings>
      <setting name="basepaycheck" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="taxationamount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="vipbonuslevelone" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="vipbonusleveltwo" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="vipbonuslevelthree" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="governmentbalance" serializeAs="String">
        <value>2000000000</value>
      </setting>
    </mtgvrp.Properties.Settings>
  </userSettings>
</configuration>
