<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="2.5.3-beta-00156" targetFramework="net462" />
  <package id="DSharpPlus.CommandsNext" version="2.5.3-beta-00156" targetFramework="net462" />
  <package id="DSharpPlus.Interactivity" version="2.5.3-beta-00156" targetFramework="net462" />
  <package id="DSharpPlus.WebSocket.WebSocketSharp" version="2.5.3-beta-00156" targetFramework="net462" />
  <package id="grandtheftmultiplayer.typescript" version="0.1.12" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NodaTime" version="2.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0-preview2-25405-01" targetFramework="net462" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net462" />
</packages>