#phonebase-image {
    background: url("phone-base.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 580px;
    z-index:1;
    position:absolute;
    pointer-events: none;
}

#main {
    margin-top: 55px;
    margin-left: 23px;
    background-color: black;
    width: 350px;
    height: 450px;
    position: absolute;
}

#notif-bar {
    width: 100%;
    height: 30px;
}

.notif-item {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: white;
    margin: 5px;
}

#content {
    width: 100%;
    height: 400px;
    overflow:hidden;
    margin-top: 20px;
    margin-left: 15px;
}

#child-content {
	width: 376px;
    height: 400px;
	overflow:auto;
}

.tile {
    color: white;
    background-color: #ce352c !important;  
}

#app-browser {
    width: 330px;
    height: 100%;
    border: none;
}

#navigation {
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}